@charset "UTF-8";
/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/*
Paleta de cores:
Verde: #49a09d 
Lilás: #5f2c82
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
/*versão para tablet*/
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 90vw;
    }
    section#login > div#imagem {
        float: left;
        width: 50vw;
        height: 100vh;
    }
/*essas linhas de cmd abaixo, criadas pelo professor, não estão funcionando*/
    /*    section#login > div#formulario {
        float: right;
        width: 70vw;
    }*/
}
@media screen and (min-width: 992px) {
/*versão para desktop*/
body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}
section#login {
        width: 990px;
    }
    section#login > div#imagem {
        float: left;
        width: 40vw;
        height: 100vh;
    }
/*essas linhas de cmd abaixo, criadas pelo professor, não estão funcionando*/
/*        section#login > div#formulario {
        float: right;
        width: 50vw;
    }*/
}