@charset "UTF-8";
/*
Paleta de cores:
Verde: #49a09d 
Lilás: #5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*p/ fazer com que a borda faça parte da conta da largura; por padrão ele testa por dentro da borda*/
}
html, body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    /*definida essa 'position' p/ definir a 'position' relative da section#login*/
    width: 100vw;
    height: 100vh;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*p/ fazer com que a tela de login fique no centro da página foram criadas as 4 linhas de cmd acima*/
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    /*p/ fazer com que a borda de cima da tela de login fique novamente arredondada; quando foi colocada a imagem, o arrendodado saiu*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    /*as 2 linhas de cmd abaixo são opcionais p/ haver uma transição de uma tela p/ outra*/
    transition: width .3s, height .03s;
    transition-timing-function: is;
}
section#login > div#imagem {
    display: block;
    /*p/ poder alterar o 'body' no 'mediaquery.css'*/
    background: #5f2c82 url(../imagens/pexels-david-underland-3523621.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
    /*p/ que a imagem fique na altura de 200px*/
}
section#login > div#formulario {
    background-color: lightgreen;
    display: block;
    /*p/ poder alterar o 'body' no 'mediaquery.css'*/
    padding: 10px;
}